.texto-menor{
    font-size: 13px;
}
.divs-classes-Facilidades{
   width: 325px;
}
.btn-primary{
    background-color: rgba(147, 83, 255, 1)
    ;
}

.color{
    color: rgba(218, 255, 1, 1);
    ;
}